body {
    margin: 0px;
    height: 99.7vh;
}
header a img{
    width: 5%;
}
header {
    background: black;
}
#bar {
    color: white;
    position: relative;
    top: -20px;
    left: 92%;
    font-size: 25px;
    border: solid red;
}

.final {
    color: white;
    background: black;
    position: relative;
    top: 63.6%;
    height: 15%;
}
.final h2 {
    text-align: center;
    border: solid blue;
    width: 10%;
    position: relative;
    left: 50%;
}
.final a i {
    position: relative;
    left: 75%;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.final a i:hover {

}
