body {
    margin: 0px;
    height: 99.7vh;
}
header a img{
    width: 5%;
}
header {
    background: black;
}
#bar {
    color: white;
    position: relative;
    top: -20px;
    left: 92%;
    font-size: 25px;
    border: solid red;
}

.final {
    color: white;
    background: black;
    position: relative;
    top: 63.4%;
    height: 15%;
}
.final h2 {
    text-align: center;
    width: 20%;
    position: relative;
    left: 39%;
}
.fab {
    position: relative;
    top: -10px;
    left: 75%;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.far {
    position: relative;
    top: -5px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.fab:hover {
    color: black;
}
