@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.rectangle{
    max-width: auto;
    height: 95vh;
    background-color: #212529;
    text-align:center;
}
.text{
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    color:white;
}

.button{
    background-color:transparent;
    height:50px;
    width:100px;
    border: 3px solid white;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
    margin: 0px;
    height: 99.7vh;
}
header a img{
    width: 5%;
}
header {
    background: black;
}
#bar {
    color: white;
    position: relative;
    top: -20px;
    left: 92%;
    font-size: 25px;
    border: solid red;
}

.final {
    color: white;
    background: black;
    position: relative;
    top: 63.4%;
    height: 15%;
}
.final h2 {
    text-align: center;
    width: 20%;
    position: relative;
    left: 39%;
}
.fab {
    position: relative;
    top: -10px;
    left: 75%;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.far {
    position: relative;
    top: -5px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.fab:hover {
    color: black;
}

@media only screen and (max-width: 370px) {
    button {
        position: absolute;
        top: 75px;
        left: 50px;
        border-radius: 5px;
        background: transparent;
        border: solid;
    }
    button::after {
        background: white;
    }
}
