@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


/* classical things */
.rectangle{
    width:auto;
    height: 90vh;
    background-color: #0f0f0fe3;
    text-align:center;
}

.text{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.0em;
    color:white;
    padding:0% 25px;
}

.paragraph{
    line-height: 2;
    padding:0% 30px;
}
.positiontop{
    padding-top:320px;
}
.center{
    vertical-align: middle;
}

body {
    margin: 0px;
    height: 99.7vh;
}

/* Navbar color changing on scrolling effect */
.navbar-fixed-top.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
}



/* To animate slide up of text*/
.animate{
    animation-name: pulse;
    animation-duration: 700ms;
}

@keyframes pulse {
    from {
        transform : translateY(23%);
        opacity   : 0.1;
    }
    
    to {
        transform : translateY(0%);
        opacity   : 1;
    }
}


/*for parallax scrolling effect used in first section */
.parallax {
    /* The image used */
    background-image: url('./img/printer.jpg');
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



/* to animate cards used in projects section */
.card {
    background-color: rgba(255, 255, 255, 0.986);
    height:18.75em;
    width:90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgb(14, 13, 13);
}
  
.containerforcard {
    padding: 2px 16px;
}

#card-link {
    
    width: 90%;
    height: 18.75em;
}


/* styles and animation for buttons */
.button{
    font-family: 'Oswald', sans-serif;
    border-radius: 2px;
    border: solid white 3px;
    background-color:transparent;
    color:white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.4em;
    height:50px;
    width:100px;
    left: -1%;
}

.button:hover {
    color: black;
    background: white;
    animation: animate_button_slideup 90ms;
}

@keyframes animate_button_slideup {
    0% {
        opacity: 0.2;
        height: 0px;
        background: white;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.9;
    }
}



/* for contact us images dimmers in the last section */
.contactimages{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.contactimages:hover{
    opacity: 0.5;
    filter: alpha(opacity=40);
}

@media only screen and (max-device-width: 1366px) {
    .text{
        font-family: 'Roboto Mono', monospace;
        font-size: 1.6em;
        color:white;
        padding:0% 6px;
        line-height: 1.8;
    }
    .paragraph{
        font-size: 1.4em;
        line-height: 1.8;
        padding:0% 10px;
    }
    .positiontop{
        padding-top:220px;
    }
  }



/* Things i don't know why they exist
header a img{
    width: 5%;
}
header {
    background: black;
}
#bar {
    color: white;
    position: relative;
    top: -20px;
    left: 92%;
    font-size: 25px;
    border: solid red;
}

.final {
    color: white;
    background: black;
    position: relative;
    top: 63.4%;
    height: 15%;
}
.final h2 {
    text-align: center;
    width: 20%;
    position: relative;
    left: 39%;
}
.fab {
    position: relative;
    top: -10px;
    left: 75%;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.far {
    position: relative;
    top: -5px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.fab:hover {
    color: black;
}

@media only screen and (max-width: 370px) {
    button {
        position: absolute;
        top: 75px;
        left: 50px;
        border-radius: 5px;
        background: transparent;
        border: solid;
    }
    button::after {
        background: white;
    }
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
   */