@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.rectangle{
    max-width: auto;
    height: 95vh;
    background-color: #212529;
    text-align:center;
}
.text{
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    color:white;
}